@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 240 100% 10%;

    --card: 0 0% 100%;
    --card-foreground: 240 100% 10%;

    --popover: 240 100% 98%;
    --popover-foreground: 240 100% 10%;

    --primary: 263 87% 61%;
    --primary-foreground: 0 0% 100%;

    --secondary: 162 88% 40%;
    --secondary-foreground: 0 0% 100%;

    --muted: 200 15% 92%;
    --muted-foreground: 220 14% 42%;

    --accent: 34 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 13% 90%;
    --input: 220 13% 90%;
    --ring: 263 87% 61%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 19% 10%;
    --foreground: 210 60% 96%;

    --card: 240 19% 12%;
    --card-foreground: 210 60% 96%;

    --popover: 240 19% 12%;
    --popover-foreground: 210 60% 96%;

    --primary: 263 87% 70%;
    --primary-foreground: 240 19% 10%;

    --secondary: 162 88% 40%;
    --secondary-foreground: 240 19% 10%;

    --muted: 220 13% 25%;
    --muted-foreground: 220 13% 70%;

    --accent: 34 100% 55%;
    --accent-foreground: 240 19% 10%;

    --destructive: 0 62% 50%;
    --destructive-foreground: 240 19% 10%;

    --border: 220 13% 25%;
    --input: 220 13% 25%;
    --ring: 263 87% 70%;
  }

  

 

  
}
